<!DOCTYPE html>
<html lang="sv"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layouttemplate"
      data-theme="light">


<th:block layout:fragment="extraHead">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.0/event-calendar.min.js"></script>
  <script src="/js/modal.js"></script>

</th:block>

<div layout:fragment="mainContent">

  <div class="row-box">
    <div class="col-boxes-1">
      <div class="col-table">
        <div class="table-section">
          <div class="header-table">
            <h2>THE BV (Best Vape) </h2>
            <!--                        <a href="#">see all</a>-->
          </div>

        </div>

      </div>

    </div>
  </div>

  <form method="GET">
    Search:
    <input type="text" name="q" value="" />
    <!-- <input type="hidden" name="sortCol"  value="<?php echo $sortCol; ?>" />       -->
  </form>

  <div class="cards vapecards">
    <div class="card vapecard" th:each="vape: ${vapeproducts}">
      <div class="card-top-info">
        <h3 th:text="${vape.getId()}"></h3>
        <img th:src="@{${vape.getImage()}}" class="vape-img">
      </div>
      <p>
      <ul style="text-align: center">
        <li th:text="${vape.getVolume()}"></li>
        <li th:text="${vape.getNicotine()}"></li>
        <li th:text="${vape.getPrice()}"> kr</li>
      </ul>
      </p>
    </div>
  </div>
</div>


</html>
